*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(57, 14, 82);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1{
    margin: 40px;
   
    font-size: 50px;
    color: rgb(215, 208, 199);
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#reset{
    padding: 10px;
    font-size: 15px;
    background-color:bisque;
    color:  rgb(51, 29, 2);
    font-weight: bold;
    border-radius:50px;
    border: 2px solid black;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    border: 2px solid black;
    background-color:bisque;
    /* box-shadow: 0 0 10rem rgbd(0,0,0,0.1); */
    font-size: 60px;
    color: rgb(51, 29, 2);
}
#newbtn{
    padding: 10px;
    font-size: 15px;
    background-color:bisque;
    color:  rgb(51, 29, 2);
    font-weight: bold;
    border-radius:50px;
    border: 2px solid black;
}
#msg{
    color: rgb(215, 208, 199);
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px 0 30px 0;
}
.msgcontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.hide{
    display: none;
}
