*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color:#efdfdf;;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    background-color: #9a7070;
    color: white;
    line-height:80px ;
    font-size: 40px;
}
.ch{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.ch:hover{
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.5;
    cursor:pointer;
    box-shadow: 0 0 20px rgba(82, 51, 51, 0.5);
}
.choices{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
    margin-bottom: 80px;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 150px;
    gap: 100px;
}
#user, #computer{
    margin: 0 20px;
    font-size: 50px;
}
.msgcontainer{
     margin-top: 20px;
}
#msg{
    font-size: 30px;
   
    background-color: #9a7070;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}